<footer class="footer">
  <% if (theme.copyright){ %>
  <span>Copyright © <%= config.copyright || theme.copyright %></span>
  <% } %>
</footer>
<script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>
