<gen-search-widget
  configId="8cd15e4a-9a47-4a33-9d0c-152ca9821e1f"
  triggerId="searchWidgetTrigger">
</gen-search-widget>

<footer class="footer">
  <% if (theme.copyright){ %>
  <span>Copyright © <%= config.copyright || theme.copyright %></span>
  <% } %>
</footer>