<header class="header">
  <section class="header-container">
    <a class="logo" href="<%- url_for() %>"><%= config.title %></a>
    <gen-search-widget
      configId="8cd15e4a-9a47-4a33-9d0c-152ca9821e1f"
      triggerId="searchWidgetTrigger"
    >
    </gen-search-widget>

    <ul class="nav">
      <li><a href="#" id="searchWidgetTrigger">search</a></li>
      <% for (name in theme.menu) { %>
      <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
      <% } %>
    </ul>
  </section>
</header>
